/* resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* resources/css/app.css */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea,
select {
    @apply border border-gray-300 rounded px-4 py-1 w-full focus:outline-none focus:border-blue-500;
}

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
}
